#body_table{
	width: 100%;
	font: 35px Bebas Neue;
	color: #000;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 440px;
	
}

#signup_box{
	vertical-align: top;
	text-align: right;
	width: 74.8%;
}

#ruler{
	width: 1px;
	background-color: #810c14;
}

#login_box{
	vertical-align: top;
	text-align: left;
	width: 25%;
}

.label_field{
	font: 25px Bebas Neue;
	padding: 10px;
}

.textf{
	height: 33px;
	font: 20px Highway Gothic;
	margin-bottom: 5px;
	border: 2px solid #012e03;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	background-color: #fff3cd;
	padding-left: 3px;

}	

.button_login{

	font: 25px Bebas Neue;
	border: 2px solid #cccc99;
	border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
	cursor: pointer;
	color: #fff;
	background-color: #012e03;
	letter-spacing:2px
}

.button_login:hover{
	background-color: #5e0000;
}

